<%= yield %>
<div id="felix">
    <img src="img/felix.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac dictum nunc, quis laoreet lectus.
        Aenean malesuada ante lorem, eget dignissim lectus rutrum ac.
        Nam mollis augue ac erat blandit pulvinar.</p>
</div>

<div id="niclas">
    <img src="img/niclas.jpg"/>
    <p>Quisque lacinia dignissim venenatis. Praesent vel porta leo.
        Vivamus venenatis scelerisque erat quis euismod. Nunc molestie tortor nisl, ut bibendum metus sodales ut.
        Nunc ultrices bibendum eros ut placerat.</p>
</div>