<%= yield %>
<div class="article_feed" id="article1">
    <img src="img/Sne-tak_Headerv2.png">
    <h1>Sne-Tak</h1>
    <p>
        Detta är vår nya maskot, han heter Sne-Tak och skapades under en kemilektion.
    </p>
</div>
<div class="article_feed" id="article2">
    <img src="img/mc-dack.jpg">
    <h1>MC däck</h1>
    <p>Nya däck till Felix Aprilia RS125!
        Idag så kom de nya däcken till Felix MC, det är ett par Diablo Supercorsa SP v2!
        Väldigt fina däck med bra mönstring om man vill antingen köra slicks eller regndäck.
        Dock står inte dessa däck emot ett par slicks på en torr bana eller ett par regn däck på en jätte blöt bana. Men
        som sagt, de fungerar.
        Speciellt för en ny började som mig. ;)</p>
</div>