<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
    <title>Welcome!</title>
</head>
<body>

<div id="main_header">
    <img src="img/Sne-tak_Headerv2.png"/>
</div>

<div id="page_button_holder">

    <div id="top_page_button"> <h2 id="home_button"> <a href="index.html">Home</a> </h2> </div>
    <div> <h2 id="gallery_button"> <a href="gallery.html">Gallery</a> </h2> </div>
    <div> <h2 id="videos_button"> <a href="videos.html">Videos</a> </h2> </div>
    <div> <h2 id="donate_button"> <a href="donate.html">Donate</a> </h2> </div>
    <div> <h2 id="about_button"> <a href="about.html">About</a> </h2> </div>

</div>

<div id="main_content">

    <%= yield %>

</div>

<div id="footer">
    <div id="footer_info">

    </div>
</div>

</body>
</html>