<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
    <title>Welcome!</title>
</head>
<body>

    <div id="main_header">
        <div id="button_header">
            <div id="home_button"><p>Home</p><a href="index.html"/></div>
            <div id="gallery_button"><p>Gallery</p><a href="gallery.html"/></div>
            <div id="videos_button"><p>Videos</p><a href="videos.html"/></div>
            <div id="donate_button"><p>Donate</p><a href="donate.html"/></div>
            <div id="about_button"><p>About</p><a href="about.html"/></div>
        </div>
    </div>


</body>
</html>