body {
    margin: 0px;
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: Arial;
    color: black;
    text-decoration: none;
}
#webpage {
    position: relative;
}

#main_header img {
    width: 600px;
    height: 180px;
}

#page_button_holder {
    width: 110px;
    height: auto;
    padding-left: 0;
    margin-right: 0;
    position: relative;
    float: left;
}

#top_page_button {
    margin-top: 0px;
}
#page_button_holder div {
    width: 95px;
    height: 55px;
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 30px;
    background-color: #cdc9c1;
    position: relative;
    float: left;
}

#page_button_holder h2 {
    width: auto;
    height: auto;
    text-align: center;
}
#home_button:hover h2 {
    color: brown;
}
#gallery_button:hover h2 {
    color: brown;
}
#videos_button:hover h2 {
    color: brown;
}
#donate_button:hover h2 {
    color: brown;
}
#about_button:hover h2 {
    color: brown;
}

#main_content {
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.article_feed {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px ridge grey;
    padding: 4px;
    text-align: center;
    position: relative;
}

.article_feed img {
    margin-top: 20px;
    width: 460px;
    height: 300px;
    border: 2px solid #cdc9c1;
    position: relative;
}

#videos_latest_video {
    width: 100%;
    height: 430px;
    margin-bottom: 100px;
    position: relative;
}

#videos_latest_video h1 {
    width: 300px;
    margin-bottom: 0;
    position: relative;
}

#videos_latest_video iframe {
    width: 800px;
    height: 400px;
    position: relative;
    float: left;
}

#videos_other_videos {
    width: 100%;
    height: auto;
}

#videos_other_videos h1 {
    margin-bottom: 0;
}

#videos_other_videos iframe {
    width: 390px;
    height: 270px;
    margin-bottom: 20px;
}

.rightside_videos {
    margin-left: 16px;
}

#donate_paypal_textbox {
    width: 550px;
    height: auto;
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#donate_paypal_button {
    text-align: center;
    margin-top: 10px;
}

#bottom_infobox {
    width: 100%;
    height: 90px;
    background-color: #cdc9c1;
    position: relative;
    float: left;
}