body {
    background-color: teal;
    margin: 0px;
    background-image: url("img/catalunya_pit.jpg");
}

#main_header {
    height: 200px;
    width: 100%;
    position: absolute;
    background-color: whitesmoke;
}

#button_header {
    width: 100%;
    height: 60px;
    margin-top: 160px;
    background-color: #942728;
}

#button_header p {
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration-color: black;
}

#button_header a {
    width: 120px;
    height: 40px;
    text-decoration-color: black;
}

a:-webkit-any-link {
    color: black;
}

#button_header div {
    width: 120px;
    height: 40px;
    background-color: white;
    margin-top: 10px;
    margin-left: 9%;
    float: left;
    border-radius: 8px;
    box-shadow: 2px 2px 15px black;
    position: relative;
}

#main_content {
    width: 60%;
    height: 1000px;
    background-color: whitesmoke;
    float: left;
    position: absolute;
    margin-top: 220px;
    margin-left: 20%;
    margin-right: 20%;
}
