<%= yield %>
    <div id="videos_example">
        <iframe id="videos" src="https://www.youtube.com/embed/LuOQ7Z9GZU4" frameborder="0" allowfullscreen></iframe>
        <iframe id="videos" src="https://www.youtube.com/embed/enlIR5lS7eo?list=UUgzsS7kigfCBnO4puihWKEA" frameborder="0" allowfullscreen></iframe>
    </div>