<%= yield %>
<div id="videos_latest_video">
    <h1 class="hej">Latest video!</h1>
    <iframe id="latest_video" src="https://www.youtube.com/embed/psnBJrlwyNA" frameborder="0" allowfullscreen></iframe>
</div>

<div id="videos_other_videos">
    <h1>Other videos!</h1>
    <iframe src="https://www.youtube.com/embed/enlIR5lS7eo" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/PZ6dFot0K9s" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/Shhz-H10On4" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/XcaKqtIRyz8" frameborder="0" allowfullscreen></iframe>
</div>
