<%= yield %>
    <div id="videos_example">

        <h1>Latest video!</h1>
        <iframe id="latest_video" src="https://www.youtube.com/embed/LuOQ7Z9GZU4" frameborder="0" allowfullscreen></iframe>
        <h1>Other videos!</h1>
        <iframe id="videos" src="https://www.youtube.com/embed/enlIR5lS7eo" frameborder="0" allowfullscreen></iframe>
        <iframe id="videos" src="https://www.youtube.com/embed/PZ6dFot0K9s" frameborder="0" allowfullscreen></iframe>
        <iframe id="videos" src="https://www.youtube.com/embed/Shhz-H10On4" frameborder="0" allowfullscreen></iframe>
        <iframe id="videos" src="https://www.youtube.com/embed/XcaKqtIRyz8" frameborder="0" allowfullscreen></iframe>

    </div>